<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Album example for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar-example">
	<div id="app">
<!-- 	<div id="list-example" class="list-group">
	  <a class="list-group-item list-group-item-action" href="#list-item-0">Item 0</a>
	  <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
	  <a class="list-group-item list-group-item-action" href="#list-item-2">Item2</a>
	  <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
	  <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
	</div>	 -->



	
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                    </div>
                    <div class="col-sm-4 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand">Album</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
    <main role="main" id="navbar-example">
        <table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">Date</th>
		      <th scope="col">早餐 {{timetable.breakfast}}</th>
		      <th scope="col">点心 {{timetable.snack1}}</th>
		      <th scope="col">午餐 {{timetable.lunch}}</th>
		      <th scope="col">点心 {{timetable.snack2}}</th>
		      <th scope="col">晚餐 {{timetable.dinner}}</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr v-for="(item,date) in menutable">
		      <th scope="row">{{date}}</th>
		      <td>
		      	<a style="padding-right:10px;" v-if="recipe.id" v-for="recipe in (item.breakfast && item.breakfast.recipes)" :href="'#list-item-'+recipe.id">{{recipe.title}}</a>
		      	<span style="padding-right:10px;" v-else>{{recipe.title}}</span>
		      </td>
		      <td>
		      	<a style="padding-right:10px;" v-if="recipe.id" v-for="recipe in (item.snack1 && item.snack1.recipes)" :href="'#list-item-'+recipe.id">{{recipe.title}}</a>
		      	<span style="padding-right:10px;" v-else>{{recipe.title}}</span>
		      </td>
		      <td>
		      	<a style="padding-right:10px;" v-if="recipe.id" v-for="recipe in (item.lunch && item.lunch.recipes)" :href="'#list-item-'+recipe.id">{{recipe.title}}</a>
		      	<span style="padding-right:10px;" v-else>{{recipe.title}}</span>
		      </td>
		      <td>
		      	<a style="padding-right:10px;" v-if="recipe.id" v-for="recipe in (item.snack2 && item.snack2.recipes)" :href="'#list-item-'+recipe.id">{{recipe.title}}</a>
		      	<span style="padding-right:10px;" v-else>{{recipe.title}}</span>
		      </td>
		      <td>
		      	<a style="padding-right:10px;" v-if="recipe.id" v-for="recipe in (item.dinner && item.dinner.recipes)" :href="'#list-item-'+recipe.id">{{recipe.title}}</a>
		      	<span style="padding-right:10px;" v-else>{{recipe.title}}</span>
		      </td>
		      
		    </tr>
		  </tbody>
		</table>
		<table class="table table-bordered table-hover">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">First Name</th>
		      <th scope="col">Last Name</th>
		      <th scope="col">Username</th>
		      <th scope="col">Username</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr v-for="(ingredient,id) in ingredients">
		      <th scope="row">{{id}}</th>
		      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
		      <td>{{ingredient.name}}</td>
		      <td><span class="badge badge-primary badge-pill">{{ingredient.amount}}{{ingredient.unit}}</span></td>
		      <td class="text-muted"  >
				<a style="padding-right:10px;" v-if="recipe[1]" v-for="recipe in ingredient.recipe" :href="'#list-item-'+recipe[1]">{{recipe[0]}}</a>
		      	<span style="padding-right:10px;" v-else>{{recipe[0]}}</span>
		      </td>
		    </tr>
		    
		  </tbody>
		</table>
		<table class="table table-bordered table-hover">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">First Name</th>
		      <th scope="col">Last Name</th>
		      <th scope="col">Username</th>
		      <th scope="col">Username</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr v-for="(spice,id) in spices">
		      <th scope="row">{{id}}</th>
		      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
		      <td>{{spice[1]}}</td>
		      <td><span class="badge badge-primary badge-pill">{{spice[2]}}{{spice[3] || '若干'}}</span></td>
		      <td class="text-muted">{{spice.recipe}}</td>
		    </tr>
		    
		  </tbody>
		</table>

        <div class="album text-muted">
            <div class="container">
                <div class="row">
                    <div v-for="(recipe,key) in recipes" class="card" :id="'list-item-'+(key+1)">
                        <h4>{{recipe.title}}</h4>
                        <div :id="'carouselExampleIndicators'+key" class="carousel slide" >
                            <ol v-if="recipe.images.length > 1" class="carousel-indicators">
                                <li  v-for="n in recipe.images.length" :data-target="'#carouselExampleIndicators'+key" :data-slide-to="key" class="active"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div v-for="(image,index) in recipe.images" class="carousel-item " :class="!index? 'active' : ''">
                                    <img class="d-block w-100" :src="image.pic" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
									    <h3>{{image.title}}</h3>
									    <p>{{image.desc}}</p>
								 	</div>
                                </div>
                               
                            </div>
                            <a v-if="recipe.images.length > 1" class="carousel-control-prev" :href="'#carouselExampleIndicators'+key" role="button" data-slide="prev">
	                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    						<span class="sr-only">Previous</span>
							</a>
                            <a v-if="recipe.images.length > 1" class="carousel-control-next" :href="'#carouselExampleIndicators'+key" role="button" data-slide="next">
							    <span class="carousel-control-next-icon" aria-hidden="true"></span>
							    <span class="sr-only">Next</span>
							</a>
                        </div>
                        <p class="card-text">{{recipe.description}}
                        </p>
                        <!-- <p>{{recipe.ingredients}}</p> -->
                        <p ><span v-for="ingredient in recipe.ingredients" style="padding-right:5%;">{{ingredient[1]}}{{ingredient[2]}}{{ingredient[3]}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="text-muted">
        <div class="container">
            <p class="float-right" style="position: fixed; bottom: 5%;right:5%;">
                <a href="#">Back to top</a>
            </p>
            <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
            <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
        </div>
    </footer>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
    window.jQuery || document.write('<script src="./assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="./assets/js/vendor/popper.min.js"></script>
    <script src="./dist/js/bootstrap.min.js"></script>
    <script src="./assets/js/vendor/holder.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.20.1/moment.js"></script>
    <script src="./recipes_description.js"></script>
    <script src="./recipes_images.js"></script>
    <script src="./recipes_ingredients.js"></script>
    <script src="./recipes_spices.js"></script>
    <script src="./data_menu.js"></script>
    <script src="./index.js"></script>

</body>

</html>