<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Album example for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar-example">
	<div id="app">
<!-- 	<div id="list-example" class="list-group">
	  <a class="list-group-item list-group-item-action" href="#list-item-0">Item 0</a>
	  <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
	  <a class="list-group-item list-group-item-action" href="#list-item-2">Item2</a>
	  <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
	  <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
	</div>	 -->



	
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                    </div>
                    <div class="col-sm-4 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand">Album</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
    <main role="main" id="navbar-example">
        <table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">Date</th>
		      <th scope="col">早餐</th>
		      <th scope="col">点心</th>
		      <th scope="col">午餐</th>
		      <th scope="col">点心</th>
		      <th scope="col">晚餐</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr v-for="(item,date) in menutable">
		      <th scope="row">{{date}}</th>
		      <td>
		      	<a style="padding-right:10px;" v-if="recipe.id" v-for="recipe in (item.breakfast && item.breakfast.recipes)" :href="'#list-item-'+recipe.id">{{recipe.title}}</a>
		      	<span style="padding-right:10px;" v-else>{{recipe.title}}</span>
		      </td>
		      <td>
		      	<a style="padding-right:10px;" v-if="recipe.id" v-for="recipe in (item.snack1 && item.snack1.recipes)" :href="'#list-item-'+recipe.id">{{recipe.title}}</a>
		      	<span style="padding-right:10px;" v-else>{{recipe.title}}</span>
		      </td>
		      <td>
		      	<a style="padding-right:10px;" v-if="recipe.id" v-for="recipe in (item.lunch && item.lunch.recipes)" :href="'#list-item-'+recipe.id">{{recipe.title}}</a>
		      	<span style="padding-right:10px;" v-else>{{recipe.title}}</span>
		      </td>
		      <td>
		      	<a style="padding-right:10px;" v-if="recipe.id" v-for="recipe in (item.snack2 && item.snack2.recipes)" :href="'#list-item-'+recipe.id">{{recipe.title}}</a>
		      	<span style="padding-right:10px;" v-else>{{recipe.title}}</span>
		      </td>
		      <td>
		      	<a style="padding-right:10px;" v-if="recipe.id" v-for="recipe in (item.dinner && item.dinner.recipes)" :href="'#list-item-'+recipe.id">{{recipe.title}}</a>
		      	<span style="padding-right:10px;" v-else>{{recipe.title}}</span>
		      </td>
		      
		    </tr>
		  </tbody>
		</table>
		<table class="table table-bordered table-hover">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">First Name</th>
		      <th scope="col">Last Name</th>
		      <th scope="col">Username</th>
		      <th scope="col">Username</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr v-for="(ingredient,id) in ingredients">
		      <th scope="row">{{id+1}}</th>
		      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
		      <td>{{ingredient.name}}</td>
		      <td><span class="badge badge-primary badge-pill">{{ingredient.amount}}{{ingredient.unit}}</span></td>
		      <td class="text-muted"  >
				<a style="padding-right:10px;" v-if="recipe[1]" v-for="recipe in ingredient.recipe" :href="'#list-item-'+recipe[1]">{{recipe[0]}}</a>
		      	<span style="padding-right:10px;" v-else>{{recipe[0]}}</span>
		      </td>
		    </tr>
		    
		  </tbody>
		</table>
		<table class="table table-bordered table-hover">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">First Name</th>
		      <th scope="col">Last Name</th>
		      <th scope="col">Username</th>
		      <th scope="col">Username</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr v-for="(spice,id) in spices">
		      <th scope="row">{{id+1}}</th>
		      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
		      <td>{{spice[0]}}</td>
		      <td><span class="badge badge-primary badge-pill">{{spice[1]}}{{spice[2] || '若干'}}</span></td>
		      <td class="text-muted">{{spice.recipe}}</td>
		    </tr>
		    
		  </tbody>
		</table>

        <div class="album text-muted">
            <div class="container">
                <div class="row">
                    <div v-for="(recipe,key) in recipes" class="card" :id="'list-item-'+key">
                        <h4>{{recipe.title}}</h4>
                        <div :id="'carouselExampleIndicators'+key" class="carousel slide" >
                            <ol v-if="recipe.images.length > 1" class="carousel-indicators">
                                <li  v-for="n in recipe.images.length" :data-target="'#carouselExampleIndicators'+key" :data-slide-to="key" class="active"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div v-for="(image,index) in recipe.images" class="carousel-item " :class="!index? 'active' : ''">
                                    <img class="d-block w-100" :src="image.pic" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
									    <h3>{{image.title}}</h3>
									    <p>{{image.desc}}</p>
								 	</div>
                                </div>
                               
                            </div>
                            <a v-if="recipe.images.length > 1" class="carousel-control-prev" :href="'#carouselExampleIndicators'+key" role="button" data-slide="prev">
	                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    						<span class="sr-only">Previous</span>
							</a>
                            <a v-if="recipe.images.length > 1" class="carousel-control-next" :href="'#carouselExampleIndicators'+key" role="button" data-slide="next">
							    <span class="carousel-control-next-icon" aria-hidden="true"></span>
							    <span class="sr-only">Next</span>
							</a>
                        </div>
                        <p class="card-text">{{recipe.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="text-muted">
        <div class="container">
            <p class="float-right" style="position: fixed; bottom: 5%;right:5%;">
                <a href="#">Back to top</a>
            </p>
            <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
            <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
        </div>
    </footer>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
    window.jQuery || document.write('<script src="./assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="./assets/js/vendor/popper.min.js"></script>
    <script src="./dist/js/bootstrap.min.js"></script>
    <script src="./assets/js/vendor/holder.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore.js"></script>
    <script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
    var app = new Vue({
    	el: '#app',
    	data: {
    		menu:[{
    			date:'2017-12-23',
    			time:'breakfast',
    			recipes:['3米粥','面包片','火龙果','黄瓜']
    		},{
    			date:'2017-12-23',
    			time:'snack1',
    			recipes:['奶','苹果']
    		},{
    			date:'2017-12-23',
    			time:'lunch',
    			recipes:['麦片软饼','牛奶鸡蛋','西红柿','玉米茬粥']
    		},{
    			date:'2017-12-23',
    			time:'snack2',
    			recipes:['奶','橘子盅蒸蛋']
    		},{
    			date:'2017-12-23',
    			time:'dinner',
    			recipes:['西红柿鳕鱼面','猕猴桃']
    		}],
    		recipes_ori: [{
    			title:'虾仁鸡蛋羹',
    			description: '鸡蛋羹里有虾仁，彩椒粒，放1/32tips的盐，蒸熟后打散就行了，盐的话，我是用食用海盐炒制后+加碘盐，一起打碎的盐（其实现在想想也没这个必要，普通盐就行），海盐和海鲜是绝配，特别鲜。',
    			images:[{
    				pic:'./images/1.jpg',
    				title:'',
    				desc:''
    			},{
    				pic:'./images/2.jpg',
    				title:'',
    				desc:''
    			}],
    			ingredients:[['虾仁','5','个'],['彩椒粒','10','g'],['鸡蛋','1','个']],
    			spices:[['食用海盐','1/32','tips']]
    		},{
    			title:'蔬菜米团子',
    			description: '米团子，熟米饭一份，土豆和芹菜切粒，蒸熟，加入海苔碎，芝麻拌匀，再加入婴儿奶酪，拌匀后揉成小团子就行了。注意，加奶酪的食物就不要加盐了，不然太咸了。',
    			images:[{
    				pic:'./images/3.jpg',
    				title:'',
    				desc:''
    			}],
    			ingredients:[['熟米饭','1','份'],['土豆','10','g'],['芹菜','1','个']],
    			spices:[['芝麻','',''],['海苔碎','',''],['婴儿奶酪','','']]
    		},{
    			title:'猕猴桃+梨酸奶饮',
    			description: '后面那个瓶子里是20的饮品，这次是猕猴桃，梨，酸奶饮。',
    			images:[{
    				pic:'./images/1.jpg',
    				title:'',
    				desc:''
    			}],
    			ingredients:[['猕猴桃','1','个'],['梨','1','个'],['梨酸','1','份']],
    		},{
    			title:'鸡蛋卷',
    			description: '鸡蛋卷就是鸡蛋打碎，平底锅放一点油，煎成饼，然后卷起来，切段。 ',
    			images:[{
    				pic:'./images/4.jpg',
    				title:'',
    				desc:''
    			}],
    			ingredients:[['鸡蛋','1','个']],
    			spices:[['油','','']]
    		},{
    			title:'面包片',
    			description: '面包片就是在平底锅里煎一下即可。',
    			images:[{
    				pic:'./images/4.jpg',
    				title:'',
    				desc:''
    			},{
    				pic:'./images/5.jpg',
    				title:'',
    				desc:''
    			}],
    			ingredients:[['面包片','1','份']],
    			spices:[['油','','']]
    		},{
    			title:'梨',
    			description: '梨切块。',
    			images:[{
    				pic:'./images/4.jpg',
    				title:'',
    				desc:''
    			}],
    			ingredients:[['梨','1','份']],
    		},{
    			title:'香蕉酸奶水果饮',
    			description: '酸奶饮里是酸奶，香蕉。',
    			images:[{
    				pic:'./images/4.jpg',
    				title:'',
    				desc:''
    			}],
    			ingredients:[['香蕉','1','份'],['酸奶','1','份'],],
    		},{
    			title:'3米粥',
    			description: '粥里是高粱米，糙米和黑米',
    			images:[{
    				pic:'./images/5.jpg',
    				title:'',
    				desc:'',
    			}],
    			ingredients:[['高粱米','10','g'],['糙米','10','g'],['黑米','10','g']]

    		},{
    			title:'黄瓜',
    			description: '',
    			images:[{
    				pic:'./images/5.jpg',
    				title:'',
    				desc:''
    			},{
    				pic:'./images/21.jpg',
    				title:'',
    				desc:''
    			}],
    			ingredients:[['黄瓜','1','份']],
    		},{
    			title:'火龙果',
    			description: '',
    			images:[{
    				pic:'./images/5.jpg',
    				title:'',
    				desc:''
    			}],
    			ingredients:[['火龙果','1','份']],
    		},{
    			title:'麦片软饼',
    			description: '',
    			images:[{
    				pic:'./images/6.jpg',
    				title:'',
    				desc:''
    			},{
    				pic:'./images/7.jpg',
    				title:'',
    				desc:'土豆，山药，莴笋都去皮处理好。'
    			},{
    				pic:'./images/8.jpg',
    				title:'',
    				desc:'切成片，蒸熟，我用的微波蒸笼。'
    			},{
    				pic:'./images/9.jpg',
    				title:'',
    				desc:'捣碎'
    			},{
    				pic:'./images/10.jpg',
    				title:'',
    				desc:'喜宝1~3岁的早餐麦片，用7种谷物的，这个没有甜味，可以自行搭配味道。'
    			},{
    				pic:'./images/11.jpg',
    				title:'',
    				desc:'加入适量麦片，这个麦片里含米粉成分的，冲了就是一碗米粉麦片粥，所以不用再加面粉之类，如果用的是纯麦片，需要加点面粉，要不然饼不能粘在一起。'
    			},{
    				pic:'./images/12.jpg',
    				title:'',
    				desc:'加适量水搅拌均匀'
    			},{
    				pic:'./images/13.jpg',
    				title:'',
    				desc:'加盐，1/32tips'
    			},{
    				pic:'./images/14.jpg',
    				title:'',
    				desc:'加入菜椒粒'
    			},{
    				pic:'./images/15.jpg',
    				title:'',
    				desc:'锅里加少量油，烧热后倒入米糊。'
    			},{
    				pic:'./images/16.jpg',
    				title:'',
    				desc:'煎至2面金黄即可，出锅摊开晾一会，切块。'
    			}],
    			ingredients:[['土豆','1','份'],['山药','1','份'],['莴笋','1','份'],['喜宝1~3岁的早餐麦片','1','份'],['菜椒粒','1','份'],],
    			spices:[['油','','']]
    		},{
    			title:'牛奶鸡蛋',
    			description: '',
    			images:[{
    				pic:'./images/6.jpg',
    				title:'',
    				desc:''
    			},{
    				pic:'./images/17.jpg',
    				title:'',
    				desc:'鸡蛋一只，婴儿奶粉1勺，加入与鸡蛋同等量的水'
    			},{
    				pic:'./images/18.jpg',
    				title:'',
    				desc:'均匀搅拌，直奶和鸡蛋完全融合，我用的是奶粉搅拌器，哈哈'
    			},{
    				pic:'./images/19.jpg',
    				title:'',
    				desc:'锅里放少量油，油热后炒至鸡蛋凝结即可。为了拍照我的鸡蛋都老了'
    			}],
    			ingredients:[['鸡蛋','1','个'],['婴儿奶粉','1','勺']],
    			spices:[['油','','']]
    		},{
    			title:'西红柿',
    			description: '西红柿削成薄片，摆成花型即可。',
    			images:[{
    				pic:'./images/20.jpg',
    				title:'',
    				desc:''
    			}],
    			ingredients:[['西红柿','1','个']],
    		},{
    			title:'玉米茬粥',
    			description: '玉米茬粥就是熬啊熬。。就好了。',
    			images:[{
    				pic:'./images/20.jpg',
    				title:'',
    				desc:''
    			}],
    			ingredients:[['玉米茬','1','个']],
    		},{
    			title:'土豆蔬菜软饼',
    			description: '',
    			images:[{
    				pic:'./images/21.jpg',
    				title:'',
    				desc:''
    			},{
    				pic:'./images/22.jpg',
    				title:'',
    				desc:'土豆擦最细的丝，白菜，洋葱，黄瓜，肉椒切末，加一个鸡蛋，绿豆面适量，水适量，和成粘稠的面糊，无油无水煎锅内，用勺挖一勺放锅里，煎到2面金黄即可。'
    			}],
    			ingredients:[['土豆','1','个'],['白菜','1','份'],['黄瓜','1','根'],['鸡蛋','1','个'],['绿豆面','','']],
    		},{
    			title:'白粥+喜宝西红柿牛肉意面',
    			description: '',
    			images:[{
    				pic:'./images/21.jpg',
    				title:'',
    				desc:''
    			}],
    			ingredients:[['白粥','1','份'],['喜宝西红柿牛肉意面','1','份']],
    		},{
    			title:'西红柿鳕鱼面',
    			description: '',
    			images:[{
    				pic:'./images/23.jpg',
    				title:'',
    				desc:''
    			},{
    				pic:'./images/24.jpg',
    				title:'',
    				desc:'鳕鱼一块，去皮，检查有没有刺，切成小块。'
    			},{
    				pic:'./images/24.jpg',
    				title:'',
    				desc:'洋葱切块。西红柿去皮，去籽，切成小块。胡萝卜(忘拍了)，去皮切成小块。以上食材不用切特别碎，一会还要打碎的。'
    			},{
    				pic:'./images/24.jpg',
    				title:'',
    				desc:'鸡蛋一只，取蛋黄(20已经开始吃整蛋了)，卷心菜去茎，切成碎末。'
    			},{
    				pic:'./images/25.jpg',
    				title:'',
    				desc:'锅里烧开水，放入除了鸡蛋和卷心菜以外所有的食材，煮开，撇去沫子。'
    			},{
    				pic:'./images/26.jpg',
    				title:'',
    				desc:'全部食材煮开，撇去沫子'
    			},{
    				pic:'./images/27.jpg',
    				title:'',
    				desc:'用料理机把锅里的东西打成蔬菜汁，打完之后有很多沫子，不用管，一会就没有了。'
    			},{
    				pic:'./images/28.jpg',
    				title:'',
    				desc:'之前自己做好的胡萝卜面，居然拍不出红色 '
    			},{
    				pic:'./images/29.jpg',
    				title:'',
    				desc:'加入面，煮开，煮一会，把面煮软。'
    			},{
    				pic:'./images/30.jpg',
    				title:'',
    				desc:'加入卷心菜末。'
    			},{
    				pic:'./images/31.jpg',
    				title:'',
    				desc:'卷心菜煮软之后，把鸡蛋打碎，转着圈倒入锅里。'
    			},{
    				pic:'./images/32.jpg',
    				title:'',
    				desc:'鸡蛋成型就可以关火了'
    			},{
    				pic:'./images/33.jpg',
    				title:'',
    				desc:'拿出辅食剪刀，一顿乱剪。吃的时候加点香油就行啦'
    			}],
    			ingredients:[['西红柿','1','个'],['鳕鱼','1','块'],['洋葱','1','个'],['胡萝卜','1','根'],['鸡蛋','1','个'],['卷心菜','1','个'],['胡萝卜面','1','份']],
    			spices:[['香油','','']]
    		},{
    			title:'橘子盅蒸蛋',
    			description: '',
    			images:[{
    				pic:'./images/34.jpg',
    				title:'',
    				desc:'备好食材'
    			},{
    				pic:'./images/35.jpg',
    				title:'',
    				desc:'橘子切尾部三分之一的地方'
    			},{
    				pic:'./images/36.jpg',
    				title:'',
    				desc:'用小刀挨着橘子边缘切一圈'
    			},{
    				pic:'./images/37.jpg',
    				title:'',
    				desc:'用勺子挖到碗里。用勺子压出果汁'
    			},{
    				pic:'./images/38.jpg',
    				title:'',
    				desc:'鸡蛋打撒.把打散的鸡蛋倒入果汁中搅拌均匀'
    			},{
    				pic:'./images/39.jpg',
    				title:'',
    				desc:'在到入橘子盅里7分满上锅大火蒸15分钟'
    			},{
    				pic:'./images/40.jpg',
    				title:'',
    				desc:'蒸好橘子鸡蛋盅。很清香的甜品'
    			}],
    			ingredients:[['橘子','1','个'],['鸡蛋','1','个']],
    		},{
    			title:'',
    			description: '',
    			images:[{
    				pic:'./images/.jpg',
    				title:'',
    				desc:''
    			}]
    		},{
    			title:'',
    			description: '',
    			images:[{
    				pic:'./images/.jpg',
    				title:'',
    				desc:''
    			}]
    		},{
    			title:'',
    			description: '',
    			images:[{
    				pic:'./images/.jpg',
    				title:'',
    				desc:''
    			}]
    		}
    		]
    	},
    	computed: {
    		recipes: function(){
    			var tmp = [];
    			_.each(this.recipes_ori, function(v,k){
    				tmp.push(_.extend(v,{id:k}))
    			})
    			// console.log(tmp)
    			return tmp;
    		},
    		menutable: function(){
    			var tmp = _.groupBy(this.menu, function(item){ return item.date; })
    			
    			var res = {};
    			var self = this;
    			_.each(tmp, function(v,k){
    				res[k] = {};
    				
    				_.each(v,function(v1,k1){
    					var tmp2 = [];
    					res[k][v1.time] = v1;
    					_.each(v1.recipes,function(v2,k2){
    						var tmp3 = _.find(self.recipes, function(item){ return item.title == v2})
    						// console.log(tmp3)
    						tmp2.push({
    							title:v2,
    							id: tmp3 && tmp3.id,
    							ingredients: tmp3 && tmp3.ingredients,
    							spices: tmp3 && tmp3.spices
    						})
    						
    					})
    					res[k][v1.time]['recipes'] = tmp2;
    					// console.log(tmp2)
    					// console.log(res[k][v1.time]['recipes'])

    				})
    			})
    			// console.log(res)
    			return res
    		},
    		ingredients: function () {
    			var self = this;
    			var res = [];
    			_.each(self.menutable, function(dateitem, k){
    				_.each(dateitem, function(timeitem,k1){

    					_.each(timeitem['recipes'], function(recipe, k2){
    						_.each(recipe['ingredients'],function(ingredient,k3){
    							var tmp = {};
    							tmp['recipe'] = recipe.title
    							tmp['name'] = ingredient[0]
    							tmp['amount'] = ingredient[1]
    							tmp['unit'] = ingredient[2]
    							res.push(tmp)

    						})
    					})
    				})
    			})
    			console.log(res)
    			var res2 = [];
    			var checked = [];
    			_.each(res, function(ingredient, k){
    				console.log(checked.indexOf(ingredient.name))
    				if(checked.indexOf(ingredient.name) == -1) {
    					var tmp = {};
						var group = _.where(res, {'name': ingredient.name})
						console.log(group)
						
						tmp['name'] = ingredient.name
						tmp['amount'] = 0;
						_.each(group, function(sameIngredient, k1) {
							if(typeof tmp['recipe'] == 'undefined') {
								tmp['recipe'] = [];
							}

							//找到recipe的id
							var tmp3 = _.find(self.recipes, function(item){ return item.title == sameIngredient.recipe})
							tmp['recipe'].push([sameIngredient.recipe, tmp3.id])

							//todo 单位一致
							tmp['amount'] += parseInt(sameIngredient.amount);
							tmp['unit'] = sameIngredient.unit;
							
						})
						res2.push(tmp)
						checked.push(ingredient.name);
    				}
    				

    			})

    			

    			console.log(res2)
    			return res2
    		},
    		spices: function () {
    			var self = this;
    			var res = [];
    			_.each(self.menutable, function(dateitem, k){
    				_.each(dateitem, function(timeitem,k1){

    					_.each(timeitem['recipes'], function(recipe, k2){
    						_.each(recipe['spices'],function(spice,k3){
    							// console.log(spice)
    							res.push(spice)
    						})
    					})
    				})
    			})
    			// console.log(res)
    			return res
    		}
    	},
    	methods: {
    		fn_amortizated: function(sum, months){
    			var x = [];
    			var count = 0;
    			for(var i = 0; i < this.simulatePeriod; i ++) {
    				count < months ? x.push((sum/months).toFixed(0)) : x.push(0);
    				count++;
    			}
    			return x;
    		}
    	}
    });
    </script>


</body>

</html>