<html>

<head>
    <title>小小运动馆</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="description" content="小小运动馆">
    <meta name="format-detection" content="telephone=no">
    <style>
   /* * {
    	padding: 0;
    	margin: 0;
    }*/
    body {
    	width: 100%;
    	overflow-x: hidden;
    }
    .green {
    	background: lightgreen;
    }
    .negative {
    	color: red;
    }
    
    </style>
</head>

<body>
	<div id="app">
		<table cellspacing="1">
	        <tbody>
	            <tr>
	                <th>
	                    加盟城市
	                </th>
	                <th>
	                    样本
	                </th>
	                <th>
	                    一线城市（以北京为例）
	                </th>
	                <th>
	                    二线城市（以南京为例）
	                </th>
	                <th>
	                    三线城市（以常州为例）
	                </th>
	            </tr>
	            <tr>
	                <td>
	                    店铺面积
	                </td>
	                <td>
	                    <input type="text" v-model="investmentBig.area">
	                </td>
	                <td>
	                    300㎡
	                </td>
	                <td>
	                    250㎡
	                </td>
	                <td>
	                    200㎡
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    房租费用
	                </td>
	                <td>
	                    <input type="text" v-model="investmentBig.rent">
	                </td>
	                <td>
	                    9.6万元/月
	                </td>
	                <td>
	                    6.25万元/月
	                </td>
	                <td>
	                    4.4万元/月
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    装修费用
	                </td>
	                <td>
	                    <input type="text" v-model="investmentBig.decoration">
	                </td>
	                <td>
	                    800元/㎡
	                </td>
	                <td>
	                    700元/㎡
	                </td>
	                <td>
	                    600元/㎡
	                </td>
	            </tr>
	            <tr>
	                <td>
	                </td>
	                <td style="text-align: right;">
	                    {{sumDecoration/10000}}万元
	                </td>
	                <td>
	                </td>
	                <td>
	                </td>
	                <td>
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    设备费用
	                </td>
	                <td>
	                    <input type="text" v-model="investmentBig.equipment">
	                </td>
	                <td>
	                    10万元
	                </td>
	                <td>
	                    8万元
	                </td>
	                <td>
	                    6万元
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    广告宣传费用
	                </td>
	                <td>
	                    <input type="text" v-model="investmentBig.advertise">
	                </td>
	                <td>
	                    8000元
	                </td>
	                <td>
	                    6000元
	                </td>
	                <td>
	                    4000元
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    开业费用
	                </td>
	                <td>
	                    <input type="text" v-model="investmentBig.opening">
	                </td>
	                <td>
	                    5000元
	                </td>
	                <td>
	                    4000元
	                </td>
	                <td>
	                    3000元
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    摊销年限
	                </td>
	                <td>
	                    <input type="text" v-model="investmentBig.amortizationPeriod">
	                </td>
	                <td>
	                    5000元
	                </td>
	                <td>
	                    4000元
	                </td>
	                <td>
	                    3000元
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    固定成本按月摊销
	                </td>
	                <td>
	                	{{monthlyCost4FixedCost}}元
	                </td>
	                <td>
	                </td>
	                <td>
	                </td>
	                <td>
	                </td>
	            </tr>
	            <tr style="background: gray;color:#fff;">
	                <td>
	                    固定成本
	                </td>
	                <td>
	                	{{fixedCost/10000}}万元
	                </td>
	                <td>
	                </td>
	                <td>
	                </td>
	                <td>
	                </td>
	            </tr>
	            

	            <tr>
	                <td>
	                    人员工资
	                </td>
	                <td>
	                    <input type="text" v-model="investmentBig.salary">
	                </td>
	                <td>
	                    3500元/月/人(6人)
	                </td>
	                <td>
	                    3000元/月/人(5人)
	                </td>
	                <td>
	                    2500元/月/人(4人)
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    人员数
	                </td>
	                <td>
	                    <input type="text" v-model="investmentBig.staff">
	                </td>
	                <td>
	                    6人
	                </td>
	                <td>
	                    5人
	                </td>
	                <td>
	                    4人
	                </td>
	            </tr>
	            <tr>
	                <td>
	                </td>
	                <td style="text-align: right;">
	                    {{sumSalary/10000}}万元
	                </td>
	                <td>
	                </td>
	                <td>
	                </td>
	                <td>
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    水电杂费
	                </td>
	                <td>
	                    <input type="text" v-model="investmentBig.utilities">
	                </td>
	                <td>
	                    2000元/月
	                </td>
	                <td>
	                    1800元/月
	                </td>
	                <td>
	                    2000元/月
	                </td>
	            </tr>
	            <tr style="background: gray;color:#fff;">
	                <td>
	                    可变成本
	                </td>
	                <td>
	                	{{variableCost/10000}}万元
	                </td>
	                <td>
	                </td>
	                <td>
	                </td>
	                <td>
	                </td>
	            </tr>
	            <tr style="background: gray;color:#fff;">
	                <td>
	                    月成本
	                </td>
	                <td>
	                	{{monthlyCost/10000}}万元
	                </td>
	                <td>
	                </td>
	                <td>
	                </td>
	                <td>
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    流动资金
	                </td>
	                <td>
	                    <input type="text" v-model="investmentBig.cash">
	                </td>
	                <td>
	                    35万元
	                </td>
	                <td>
	                    23万元
	                </td>
	                <td>
	                    16万元
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    总投资费用
	                </td>
	                <td style="color:red;">
	                	{{totalInvestment}}
	                </td>
	                <td>
	                    82.2万元
	                </td>
	                <td>
	                    57.43万元
	                </td>
	                <td>
	                    40.25万元
	                </td>
	            </tr>
	            <tr>
	                <td colspan="4">
	                    以上投资费用为预估，可能会与实际情况有所差别，仅供参考。
	                </td>
	            </tr>
	        </tbody>
    	</table>
		<!-- <table cellspacing="1">
	        <tbody>
	            <tr>
	                <th>
	                    
	                </th>
	                <th>
	                    样本
	                </th>
	                <th>
	                    单位
	                </th>
	            </tr>
	            <tr>
	                <td>
	                    招生人数
	                </td>
	                <td>
	                    <input type="text" v-model="income.children">
	                </td>
	                <td>
	                    人/年
	                </td>
	                <td>
	                    {{expectationChildren}}人/年
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    人均学费
	                </td>
	                <td>
	                    <input type="text" v-model="income.tuition">
	                </td>
	                <td>
	                    元/人/年
	                </td>
	            </tr>
	            <tr  style="background: gray;color:#fff;">
	                <td>
	                    学费收入月平均
	                </td>
	                <td>
	                    {{monthlyIncome4Tuition}}
	                </td>
	                <td>
	                    元/月
	                </td>
	            </tr>
	        </tbody>
    	</table>
		<table cellspacing="1">
	        <tbody>
	            <tr>
	                <th>
	                    
	                </th>
	                <th>
	                    样本
	                </th>
	                <th>
	                    单位
	                </th>
	            </tr>
	            <tr>
	                <td>
	                    月利润
	                </td>
	                <td>
	                    {{monthlyProfit}}
	                </td>
	                <td>
	                    元/月
	                </td>
	                <td>
	                    <input type="text" v-model="expectation.monthlyProfit"> 元/月
	                </td>
	            </tr>
	        </tbody>
    	</table> -->
    	<div style="background:#fff;width:160px;position:absolute;">
    	<table cellspacing="1">
	        <tbody>
	            <tr>
	            	<th>x</th>
	            </tr>
	            <tr v-for="(item,index) in simulation">
	                <td :class="[(index == 'accumulatedProfit' || index == 'accumulatedCashFlow')  ? 'green' : '']">
	                    {{keyname[index]}}
	                </td>
	            </tr>
	            <tr>
	            	<td>
	            		合计人数
	            	</td>
	            </tr>
	            <tr>
	            	<td>
	            		累计人数
	            	</td>
	            </tr>
	        </tbody>
    	</table>  
    </div>
    	<div style="float:left;width:90%;overflow:scroll;padding-left: 160px;">
    		<table cellspacing="1">
	        <tbody>
	            <tr>
	                <th v-for="n in simulatePeriod">
	                    {{n}}
	                </th>
	            </tr>
	            <tr v-for="(item,index) in simulation">
            		<td v-for="data in item" :class="[(index == 'accumulatedProfit' || index == 'accumulatedCashFlow') && data<0 ? 'negative' : '', (index == 'accumulatedProfit' || index == 'accumulatedCashFlow')  ? 'green' : '']">
                    {{data}}
                	</td>
	            </tr>
	            <tr>
	            	
	            	<td v-for="(data,index) in totalIncome" style="text-align: center;">
	            		{{monthlyChildren[index]}}
	            	</td>
	            </tr>
	            <tr>
	            	
	            	<td v-for="(data,index) in totalIncome" style="text-align: center;">
	            		{{accumulatedChildren[index]}}
	            	</td>
	            </tr>
	        </tbody>
    	</table>
    	</div>  	
    	
    	<table cellspacing="1" style="margin-top: 20px;">
    	<thead>
    		<tr>
    			<td>员工表</td>
    		</tr>
    	</thead>
	        <tbody>
	            <tr>
	            	<th></th>
	                <th v-for="n in 12">
	                    {{n}}
	                </th>
	            </tr>
	            <tr v-for="(item,index) in staffTable">
	                <td>
	                    {{index+1}}
	                </td>
	                <td v-for="(data,key) in item">
	                    <!-- {{data}} -->
	                    <input type="text" v-model="staffTable[index][key]">
	                </td>
	            </tr>

	            <tr>
	            	<td>
	            		合计薪资
	            	</td>
	            	<td v-for="data in totalStaffSalary">
	            		{{data}}
	            	</td>
	            </tr>
	        </tbody>
    	</table>
    	<table cellspacing="1" style="margin-top: 20px;">
    	<thead>
    		<tr>
    			<td>学员表</td>
    		</tr>
    	</thead>
	        <tbody>
	            <tr>
	            	<th></th>
	                <th v-for="n in 12">
	                    {{n}}
	                </th>
	            </tr>
	            <tr>
	            	<td>
	            		合计人数
	            	</td>
	            	<td v-for="(data,index) in totalIncome" style="text-align: center;">
	            		{{monthlyChildren[index]}}
	            	</td>
	            </tr>
	            <tr v-for="(item,index) in childrenTable">
	                <td>
	                    {{index+1}}
	                </td>
	                <td v-for="(data,key) in item">
	                    <!-- {{data}} -->
	                    <input type="text" v-model="childrenTable[index][key]">
	                </td>
	            </tr>
	            <tr>
	            	<td>
	            		合计收入
	            	</td>
	            	<td v-for="data in totalIncome">
	            		{{data}}
	            	</td>
	            </tr>
	            
	            
	        </tbody>
    	</table>

	</div>
    
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore.js"></script>
    <script type="text/javascript">
    var SIMULATEPERIOD = 6*12;
    var TUITIONPERCHILD = 12*600;
    var SALARYPERSTAFF = 5000;
    var STAFFTABLE = (function(){
		var obj = [];
		
			for(var headcount = 0; headcount < 5; headcount++) {
				obj[headcount] = [];
				for(var i = 0; i < SIMULATEPERIOD; i ++) {
					obj[headcount].push(SALARYPERSTAFF);
				}
			}
		return obj
	}());
	var MAXMONTHLYCHILDREN = 30;
    var monthlyChildren = [
    	
    	0,30,30,30,30,30,30,30,30,30,30,30,
    	30,30,30,30,30,30,30,30,30,30,30,30,
    	30,30,30,30,30,30,30,30,30,30,30,30,
    	30,30,30,30,30,30,30,30,30,30,30,30,
    	30,30,30,30,30,30,30,30,30,30,30,30
    ];
    var count = [];
    for(var i = 0; i < SIMULATEPERIOD; i ++) {
    	count.push(0)
    }
    var CHILDRENTABLE = (function(){
		var obj = [];
		
			for(var headcount = 0; headcount < MAXMONTHLYCHILDREN; headcount++) {
				obj[headcount] = [];
				for(var j = 0; j < SIMULATEPERIOD; j ++) {
					obj[headcount].push(count[j]< monthlyChildren[j] ? TUITIONPERCHILD : 0);
					count[j]++;
				}
			}
		return obj
	}());


    var app = new Vue({
    	el: '#app',
    	data: {
    		staffTable: STAFFTABLE,
    		childrenTable: CHILDRENTABLE,
    		investmentBig: {
    			area: 200,
	    		rent: 5,
	    		decoration: 800,
	    		equipment: 10,
	    		advertise: 8000,
	    		opening: 5000,
	    		salary: SALARYPERSTAFF,
	    		staff: 6,
	    		utilities: 2000,
	    		cash: 35,
	    		amortizationPeriod: 5
    		},
    		income: {
    			children: 50,
    			tuition: TUITIONPERCHILD
    		},
    		expectation: {
    			monthlyProfit: 0
    		},
    		
    		keyname: {
	    		rent: '房租费用',
	    		decoration: '装修费用',
	    		equipment: '设备费用',
	    		advertise: '广告宣传费用',
	    		opening: '开业费用',
	    		salary: '人员工资',
	    		staff: '人员数',
	    		utilities: '水电杂费',
	    		cash: '流动资金',
	    		amortizationPeriod: '摊销年限',
	    		totalCost: '合计支出',
	    		staffName: '姓名',
	    		staffSalary:'薪资',
	    		totalStaffSalary: '合计薪资',
	    		totalIncome: '合计收入',
	    		totalCashFlow: '合计净现金流入',
	    		accumulatedCashFlow: '累计净现金流入',
	    		accumulatedChildren: '累计人数',
	    		amortizatedIncome: '学费月均摊',
	    		accumulatedDebitTuition: '累计负债（学费）',
	    		totalProfit: '合计利润',
	    		accumulatedProfit: '累计利润'
    		},
    		simulatePeriod: SIMULATEPERIOD,//个月
    	},
    	computed: {
    		investment: function(){
    			return{
	    			area: this.investmentBig.area,
		    		rent: this.investmentBig.rent*10000,
		    		decoration: this.investmentBig.decoration,
		    		equipment: this.investmentBig.equipment*10000,
		    		advertise: this.investmentBig.advertise,
		    		opening: this.investmentBig.opening,
		    		salary: this.investmentBig.salary,
		    		staff: this.investmentBig.staff,
		    		utilities: this.investmentBig.utilities,
		    		cash: this.investmentBig.cash*10000,
		    		amortizationPeriod: this.investmentBig.amortizationPeriod,
	    		} 
    		},
    		sumDecoration: function() {
    			return this.investment.decoration*this.investment.area;
    		},
    		sumSalary: function(){
    			return this.investment.salary*this.investment.staff;
    		},
    		fixedCost: function(){
    			return this.investment.rent + this.sumDecoration + this.investment.equipment + this.investment.advertise*1 + this.investment.opening*1;
    		},
    		variableCost: function(){
    			return this.sumSalary + this.investment.utilities*1 ;
    		},
    		monthlyCost4FixedCost: function(){
    			return (this.sumDecoration + this.investment.equipment + this.investment.advertise*1 + this.investment.opening*1)/this.investment.amortizationPeriod/12 + this.investment.rent;
    		},
    		monthlyIncome4Tuition: function(){
    			var t = this.income.children*this.income.tuition/12;
    			return t;
    		},
    		monthlyIncome: function(){
    			return this.monthlyIncome4Tuition;
    		},
    		monthlyCost: function(){
    			return this.monthlyCost4FixedCost + this.variableCost;
    		},
    		monthlyProfit: function(){
    			return this.monthlyIncome - this.monthlyCost;
    		},
    		totalInvestment: function(){
    			var t = this.fixedCost + this.variableCost + this.investment.cash;
    			return t/10000;
    		},
    		expectationChildren: function(){
    			return (this.expectation.monthlyProfit*1 + this.monthlyCost*1)/this.income.tuition*12
    		},
    		
    		simulation: function(){
    			var obj = {
		    		rent: [],
		    		decoration:[],
		    		equipment:[],
		    		advertise:[],
		    		opening:[],
		    		salary:[],
		    		// staff:[],
		    		utilities:[],
	    		};
	    		var totalCost = [];
	    		var totalCashFlow = [];
	    		var totalProfit = [];
	    		var accumulatedDebitTuition = [];
	    		for(var i = 0; i < this.simulatePeriod; i++) {
	    			totalCost[i] = 0;
	    		}
	    		var self = this;
	    		$.each(obj, function(k,v) {
	    			switch(k) {
	    				case 'rent':
	    					for(var i = 0; i < self.simulatePeriod; i ++) {
			    				v.push(self.investment.rent);
			    			}
	    					break;
	    				// case 'equipment':
	    				// 	obj[k] = self.fn_amortizated(self.investment[k], self.investment.amortizationPeriod*12);
	    				// 	break;
	    				case 'equipment':
    					case 'advertise':
	    				case 'opening':
			    			obj[k] = self.fn_amortizated(self.investment[k], 1);
	    					break;
	    				case 'decoration':
	    					
			    			// obj[k] = self.fn_amortizated(self.sumDecoration, self.investment.amortizationPeriod*12);
			    			obj[k] = self.fn_amortizated(self.sumDecoration, 1);
	    					break;
	    				case 'salary':
	    					obj[k] = self.totalStaffSalary;
	    					break;
	    				case 'utilities':
	    					for(var i = 0; i < self.simulatePeriod; i ++) {
			    				obj[k].push((self.investment[k]).toFixed(0))
			    			}
	    					break;
	    				default:
	    					break;
	    			}
	    			$.each(obj[k], function(k1,v1) {
	    				totalCost[k1] += v1*1;
	    			})
	    		})
    			obj['totalCost'] = totalCost;
    			// console.log(totalCost)
    			obj['totalIncome'] = self.totalIncome;
    			obj['amortizatedIncome'] = self.amortizatedIncome;

    			$.each(obj['totalCost'], function(k, v){
    				totalCashFlow[k] = obj['totalIncome'][k] - v;
    				totalProfit[k] = obj['amortizatedIncome'][k] - v;
    				totalCashFlow[k] = totalCashFlow[k].toFixed(0);
    			})

    			obj['totalProfit'] = totalProfit;
    			obj['accumulatedProfit'] = self.fn_accumulated(totalProfit);
    			obj['totalCashFlow'] = totalCashFlow;
    			obj['accumulatedCashFlow'] = self.fn_accumulated(totalCashFlow);
    			for(var k = 0; k< this.simulatePeriod; k++) {
    				accumulatedDebitTuition[k] = self.fn_accumulated(obj['totalIncome'])[k] - self.fn_accumulated(obj['amortizatedIncome'])[k];
    			}
    			obj['accumulatedDebitTuition'] = accumulatedDebitTuition;
    			return obj;
    		},
    		//计算累计量
    		
    		totalStaffSalary: function(){
				var totalStaffSalary = [];
				for(var i = 0; i < this.simulatePeriod; i ++) {
					totalStaffSalary[i] = 0;
				}
				$.each(this.staffTable, function(k, v) {
					
					$.each(v, function(k1,v1){
						totalStaffSalary[k1] += v1*1;
					})
					
				})
				return totalStaffSalary;
    		},
    		totalIncome: function(){
					var totalIncome = [];
					for(var i = 0; i < this.simulatePeriod; i ++) {
						totalIncome[i] = 0;
					}
					$.each(this.childrenTable, function(k, v) {
						$.each(v, function(k1,v1){
							totalIncome[k1] += v1*1; 
						})
						
					})
					
					return totalIncome;
    		},
    		amortizatedIncome: function(){
    			return this.fn_amortizatedAndAccumulated(this.totalIncome, 12);
    		},
    		monthlyChildren: function(){
    			var t = [];
    			for(var j = 0; j < this.simulatePeriod; j++) {
    				t[j] = 0;
    			}
    			$.each(this.childrenTable, function(k,v){
    				for(var j = 0; j < v.length; j++) {
    					if(v[j] != 0 ) {
    						t[j]++;
    					}
    				}
    				
    			})
    			return t;
    		},
    		accumulatedChildren: function(){
    			return this.fn_accumulatedInPeriod(this.monthlyChildren, 12)
    		}
    	},
    	methods: {
    		fn_amortizated: function(sum, months){
    			var x = [];
    			var count = 0;
    			for(var i = 0; i < this.simulatePeriod; i ++) {
    				count < months ? x.push((sum/months).toFixed(0)) : x.push(0);
    				count++;
    			}
    			return x;
    		},
    		fn_amortizatedAndAccumulated: function(totalIncome, months){
				var x = [];
    			for(var i = 0; i < this.simulatePeriod; i ++) {
						x[i] = 0;
					}
    			for(var i = 0; i < this.simulatePeriod; i ++) {
    				var count = 0;
    				for(var j = i; j >= 0 && count < months ; j--) {
    					count++;
    					x[i] += (totalIncome[j] == 'undefined' ? 0 : totalIncome[j]/months) 
    				}
    				x[i] = x[i].toFixed(0)
				}
				return x;
    		},
    		fn_accumulated: function(array){
    			var accumulatedArray = [];
    			for(var i = 0; i < this.simulatePeriod; i++) {
	    			accumulatedArray[i] = 0;
	    		}
	    		for(var k = 0; k < this.simulatePeriod; k++) {
	    			accumulatedArray[k] = (typeof accumulatedArray[k-1] == 'undefined' ? 0 : accumulatedArray[k-1]) + array[k]*1 ;
    			}
	    		return accumulatedArray;

    		},
    		fn_accumulatedInPeriod: function(array, period){
    			var accumulatedArray = [];
    			for(var i = 0; i < this.simulatePeriod; i++) {
	    			accumulatedArray[i] = 0;
	    		}
	    		for(var k = 0; k < this.simulatePeriod; k++) {
	    			var count = 0;
	    			for(var j = k; j >= 0 && count<period; j--){
	    				accumulatedArray[k] += (typeof array[j] == 'undefined' ? 0 : array[j]);
	    				count++;
	    			}
    			}
	    		return accumulatedArray;
    		}
    	}
    });
    </script>
</body>

</html>